# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

settings.json
traces.txt
so_long
Tester_so_long.sh
maps_err/.ber
maps_err/badextension1.txt
maps_err/badextension2.ber.txt
maps_err/badextension3.bber
maps_err/duplicate_exit.ber
maps_err/duplicate_player.ber
maps_err/map1.ber
maps_err/no_exit.ber
maps_err/no_object.ber
maps_err/no_player.ber
maps_err/no_rectangular.ber
maps_err/no_rectangular1.ber
maps_err/no_rectangular2.ber
maps_err/no_rectangular3.ber
maps_err/no_rectangular4.ber
maps_err/no_rectangular5.ber
maps_err/no_rectangular6.ber
maps_err/no_rectangular7.ber
maps_err/no_rectangular8.ber
maps_err/no_rectangular9.ber
maps_err/no_valid_road.ber
maps_err/no_valid_road1.ber
maps_err/no_valid_road2.ber
maps_err/no_valid_road3.ber
maps_err/no_valid_road4.ber
maps_err/no_valid_road5.ber
maps_err/no_valid_road6.ber
maps_err/no_valid_road7.ber
maps_err/no_valid_road8.ber
maps_err/no_valid_road9.ber
maps_err/no_valid_road10.ber
maps_err/no_valid_road11.ber
maps_err/no_valid_road12.ber
maps_err/no_valid_road13.ber
maps_err/no_valid_road14.ber
maps_err/no_valid_road15.ber
maps_err/no_walls.ber
maps_err/no_walls1.ber
maps_err/no_walls2.ber
maps_err/no_walls3.ber
maps_err/no_walls4.ber
maps_err/no_walls5.ber
maps_err/no_walls6.ber
maps_err/no_walls7.ber
maps_err/no_walls8.ber
maps_err/no_walls9.ber
maps_err/wrong_chars.ber
maps_err/wrong_chars1.ber
maps_err/wrong_chars2.ber
maps_err/wrong_chars3.ber
maps_err/wrong_chars4.ber
maps_err/wrong_chars5.ber
maps_valid/ok.ber
maps_valid/ok1.ber
maps_valid/ok2.ber
maps_valid/ok3.ber
maps_valid/ok4.ber
maps_valid/ok5.ber
maps_valid/ok6.ber
maps_valid/ok7orok.ber
maps_valid/ok8.ber
maps_valid/ok9.ber
maps_valid/ok10.ber
maps_valid/ok11.ber
maps_valid/ok12.ber
maps_valid/ok13.ber
maps_valid/ok14.ber
maps_valid/ok15.ber
